@import "~gmf/components/MdLayout/mixins";
.md-speed-dial {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.md-tabs.md-dense {
  .md-tabs-navigation {
    .md-button {
      height: 40px;
    }
  }
}

.md-toolbar.md-dense {
  .md-toolbar-row {
    min-height: 40px;
  }
}


.md-app {
  .md-app-container {
    overflow-x: hidden;
  }
}

.md-toolbar {
  &.md-fixed-last-active {
    .md-toolbar-row:last-child {
      .md-flexible {
        transform: translate3d(0%, 100%, 0px);
        &.md-toolbar-section-start {
          transform: translate3d(-120%, 0px, 0px);
        }
        &.md-toolbar-section-end {
          transform: translate3d(120%, 0px, 0px);
        }
      }
    }
  }
}

.md-dialog {
  overflow: inherit!important;
  .md-dialog-button-close {
    position: absolute;
    left: 100%;
    color: #fff;
    margin-left: 30px!important;
    top: 6px;
    .md-icon {
      color: rgba(255, 255, 255, 0.83)!important;
      font-size: 30px;
    }
  }

  .md-toolbar {
    @include md-layout-xsmall {
      .md-dialog-button-close {
        position: relative;
        left: auto;
        top: auto;
        margin-left: 10px !important;
      }
    }
  }

  .md-dialog-content .md-tabs {
    .md-tabs-content {
      display: flex;
      flex: 1;
      box-sizing: border-box;
      max-width: 100%;
      .md-tabs-container {
        max-width: 100%;
        width: 100%;
      }
      .md-tab {
        min-height: 100%;
        height: 100%;
      }
    }
  }
  .md-dialog-actions {
    // border-top: 1px solid rgba(10, 0, 0, 0.3);
  }
}


.md-select-menu.md-menu-content {
  z-index: 131;
}


.md-list-item.md-active {
  >.md-list-item-expand .md-list-expand {
    height: auto;
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
}


.md-card {
  .md-card-header {
    .md-card-media {
      margin-left: 0px;
    }
    .md-card-media+.md-card-header-text {
      margin-left: 16px;
    }
    .md-card-header-text+.md-card-media {
      margin-left: 16px;
    }
  }
}


.md-checkbox .md-checkbox-label {
  font-size: 16px;
}


.md-field.md-theme-default.md-disabled:after {
  background-color: transparent;
}
