/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-transition-default-timing: cubic-bezier(.4, 0, .2, 1);
$md-transition-default-duration: .4s;
$md-transition-default: $md-transition-default-duration $md-transition-default-timing;


/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-transition-enter-timing: cubic-bezier(0, 0, .2, 1);
$md-transition-enter-duration: .4s;
$md-transition-enter: $md-transition-enter-duration $md-transition-enter-timing;


/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-transition-leave-timing: cubic-bezier(.4, .0, 1, 1);
$md-transition-leave-duration: .4s;
$md-transition-leave: $md-transition-leave-duration $md-transition-leave-timing;


/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-transition-stand-timing: cubic-bezier(.25, .8, .25, 1);
$md-transition-stand-duration: .4s;
$md-transition-stand: $md-transition-stand-duration $md-transition-stand-timing;


/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-transition-drop-timing: cubic-bezier(.55, 0, .55, .2);
$md-transition-drop-duration: .4s;
$md-transition-drop: $md-transition-drop-duration $md-transition-drop-timing;



/* Transitions - Based on Angular Material */

$swift-ease-out-duration: .4s !default;
$swift-ease-out-timing-function: cubic-bezier(.25, .8, .25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: .3s !default;
$swift-ease-in-timing-function: cubic-bezier(.55, 0, .55, .2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: .5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(.35, 0, .25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

$swift-linear-duration: .15s !default;
$swift-linear-timing-function: linear !default;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function !default;

$material-enter-duration: .3s !default;
$material-enter-timing-function: cubic-bezier(.0, .0, .2, 1) !default;
$material-enter: all $material-enter-duration $material-enter-timing-function !default;

$material-leave-duration: .3s !default;
$material-leave-timing-function: cubic-bezier(.4, .0, 1, 1);
$material-leave: all $material-leave-duration $material-leave-timing-function !default;
